:root {
    --primary: hsl(215, 58%, 44%);
    --accent: hsl(35, 100%, 63%);
    --header: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 93%);
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    body {

        /* background: #F2F3F5; */
        background: #fbfbfb;
        /* azul chilo #008ce0 */
    }

    .navbar-detalles {
        /* background: #008ce0; */
        background: #000000cc;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
    #iVida{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .carta {
        display: flex;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        margin-top: 15px;
        /* box-shadow: -1px 4px 3px -2px rgba(0, 0, 0, 0.25); */
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        background: #fff;
        /* padding: 5px; */
    }

    .carta-info {
        display: flex;
        flex-direction: column;
    }

    .carta-img,
    .carta-info {
        text-align: center;
        /* background-color: #e6e6e6; */
        background: #fff;
    }

    .carta-img {
        background: #f38d25;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carta-info {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .ancho50{
        width: 50%;
    }

    .carta-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .carta-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .modal-espacio {
        padding: 2%;
    }

    .radios {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .historia {
        text-align: justify;
        background-color: #e6e6e6;
        padding: 2px;
    }

    [data-notify="progressbar"] {
        margin-bottom: 0px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 5px;
    }
}